# Byte-compiled, optimized, or DLL files.
__pycache__/
*.py[cod]
*$py.class

# Sphinx documentation
docs/build/

# Environment
.venv/

# Visual Studio Code
.vscode/

# Fumo Scripts
fumo/sort.py
fumo/update.py