name: Lint Python

on:
  push:
  pull_request:

jobs:
  lint:
    name: Ruff
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v5
        with:
          ref: ${{ env.ref }}
      - name: Set Up Python 3.9
        uses: actions/setup-python@v6
        with:
          python-version: "3.9"
      - name: Install Ruff
        run: python -m pip install -U ruff
      - name: Check
        run: python -m ruff check .