name: Style Formatting Check

on:
  pull_request:

jobs:
  black:
    name: Black
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v5
      - name: Set Up Python 3.9
        uses: actions/setup-python@v6
        with:
          python-version: "3.9"
      - name: Install Black
        run: python -m pip install -U black
      - name: Run Style Checks
        run: make black-stylediff
  isort:
    name: Isort
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v5
      - name: Set Up Python 3.9
        uses: actions/setup-python@v6
        with:
          python-version: "3.9"
      - name: Install Isort
        run: python -m pip install -U isort[colors]
      - name: Run Style Checks
        run: make isort-stylediff