name: Style Formatting Check

on:
  push:
  pull_request:

jobs:
  black:
    name: Black
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
      - name: Set Up Python 3.8
        uses: actions/setup-python@v3
        with:
          python-version: 3.8
      - name: Install Black
        run: python -m pip install black
      - name: Run Style Checks
        run: make black-stylediff
  isort:
    name: Isort
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
      - name: Set Up Python 3.8
        uses: actions/setup-python@v3
        with:
          python-version: 3.8
      - name: Install Isort
        run: python -m pip install isort[colors]
      - name: Run Style Checks
        run: make isort-stylediff