# https://github.com/Cog-Creators/Red-DiscordBot/blob/V3/develop/.github/workflows/tests.yml

name: Tests
on:
  push:
  pull_request:
  repository_dispatch:
    types:
      - dispatched_test

env:
  ref: ${{ github.event.client_payload.ref || '' }}

jobs:
    tox:
      runs-on: ubuntu-latest
      strategy:
        matrix:
          python_version:
            - "3.9"
            - "3.10"
            - "3.11"
          include:
            - tox_env: py39
              python_version: "3.9"
              friendly_name: Python 3.9
            - tox_env: py310
              python_version: "3.10"
              friendly_name: Python 3.10
            - tox_env: py311
              python_version: "3.11"
              friendly_name: Python 3.11
        fail-fast: false
      name: Tox - ${{ matrix.friendly_name }}
      steps:
        - uses: actions/checkout@v5
          with:
            ref: ${{ env.ref }}
        - name: Set up Python
          uses: actions/setup-python@v6
          with:
            python-version: ${{ matrix.python_version }}
        - name: Install Tox
          run: python -m pip install -U tox
        - name: Tox Test
          env:
            TOXENV: ${{ matrix.tox_env }}
          run: tox
